*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scrollbar-color: hsla(7, 84%, 60%, 0.582) black;
    
    
}
.main-body{
    width: 98.8.9vw;
    background-color: black;
}
@media (max-width:768px){
    .main-body{
        width: 100vw;
    }
}
.navbar{
    background-color: black;
    height: 100px;
    /* border: 1px solid red; */

    .img1{
        width: 250px;
        height: 100px;
        /* border: 1px solid red; */
    }
    .a2{
        color: white;
        margin-right: 10px;
        margin-left: 10px;  
    }
    .a2:hover{
        color: #ef5743;
    }
    i{
        color: white;
    }
    .a3{
        color: #ef5743;
    }
    .container-fluid{
        background-color: #000000c9;
    }
}
.body-1{
    width: 98vw;
    height: 200px;
    background-color:  #000000;
    background-position:center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .body-1-h1{
        color: white;
        font-size: 55px;
        font-weight: 900;
        /* border: 1px solid red; */
    }
    @media (max-width:768px){
        .body-1-h1{
            font-size: 45px;
        }
    }
    .body-1-span{
        color: #ef5743;
    }
}
.body-2{
    width: 98vw;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    .body-2-main{
        width: 85%;
        height: 80%;
        /* border: 1px solid red; */
        padding: 50px;
        border-radius: 20px;
        background-color: rgba(48, 47, 47, 0.283);
        box-shadow: 0px -5px 6px 0px rgba(100,93,93,0.65);

        .body-2-main-top{
            width: 100%;
            height: 20%;
            /* border: 1px solid red; */
        }
        @media (max-width:768px){
            .body-2-main-top{
                height: 0px;
            }
        }
        .body-2-main-down{
            width: 100%;
            height: 80%;
            /* border: 1px solid red; */
            display: flex;
            justify-content: space-around;
            align-items: center;

            .body-2-main-down-box{
                width: 27%;
                height: 85%;
                /* border: 1px solid red; */
                padding: 17px;
                border-radius: 20px;
                box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .body-2-main-down-box-i{
                    color: #ef5743;
                    font-size: 60px;
                    margin-bottom: 20px;
            
                }
                .body-2-main-down-box-h1{
                    color: #ef5743;
                    margin-bottom: 20px;
                }
                .body-2-main-down-box-p{
                    color: white;
                    text-align: center;
                }

            }
            @media (max-width:768px){
                .body-2-main-down-box{
                    width: 100%;
                    padding: 0px;
                }
            }
        }
        @media (max-width:768px){
            .body-2-main-down{
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }
    @media (max-width:768px){
        .body-2-main{
            width: 85%;
            height: 100%;
            padding: 20px;
        }
    }
}
@media (max-width:768px){
    .body-2{
        height: 800px;
        margin-bottom: 50px;
    }
}
.body-3{
    width: 98vw;
    height: 770px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    .body-3-main{
        width: 90%;
        height: 90%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        background-color: rgba(48, 47, 47, 0.283);
        box-shadow: 0px -5px 6px 0px rgba(100,93,93,0.65);
        /* border: 1px solid red; */

        .body-3-main-l{
            width: 50%;
            height: 100%;
            padding: 20px;
            /* border: 1px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media (max-width:768px){
            .body-3-main-l{
                width: 100%;
                height: 60%;
                padding: 0px;
            }
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .body-3-main-r{
            width: 50%;
            height: 100%;
            /* border: 1px solid red; */

            .body-3-main-r-header{
                width: 100%;
                height: 14%;
                /* border: 1px solid red; */
                display: flex;
                justify-content: center;
                align-items: center;

                .body-3-main-r-header-h1{
                    color: white;
                    text-align: center;
                    font-size: 40px;
                }
                .body-3-main-r-header-span{
                    color: #ef5743;
                }
            }
            .body-3-main-r-From{
                /* border: 1px solid red; */
                margin-left: 30px;

                input{
                    margin: 30px;
                    width: 35%;
                    height: 40px;
                    border-radius: 20px;
                    background-color: rgba(58, 57, 57, 0.277);
                    border: none;
                    font-size: 15px;
                    text-align: center;
                    color: white;
                }
                @media (max-width:768px){
                    input{
                        width: 90%;
                        margin: 10px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                }
                select{
                    background-color: rgba(58, 57, 57, 0.277);
                    border: none;
                    color: white;
                    height: 40px;
                    border-radius: 20px;
                }
                @media (max-width:768px){
                    select{
                        margin-left: 10px;
                        width: 90%;
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                textarea{
                    background-color: rgba(58, 57, 57, 0.277);
                    border: none;
                    margin-left: 30px;
                    color: white;
                }
                @media (max-width:768px){
                    textarea{
                        width: 250px;
                        height: 100px;
                    }
                }
                .body-3-main-r-From-button{
                    width: 120px;
                    height: 40px;
                    border-radius: 20px;
                    border: 2px solid white;
                    margin-left: 40px;
                    margin-top: 40px;
                    background-color: transparent;
                    color: white; 
                }
                @media (max-width:768px){
                    .body-3-main-r-From-button{
                        width: 190px;
                        margin-left: 60px;
                    }
                }
                .body-3-main-r-From-button:hover{
                    border: 2px solid #ef5743;
                    color: #ef5743;
                }
                input:focus{
                    outline: none;
                }
                textarea:focus{
                    outline: none;
                }
            }
            @media (max-width:768px){
                .body-3-main-r-From{
                    margin-left: 0;
                }
            }
        }
        @media (max-width:768px){
            .body-3-main-r{
                width: 100%;
            }
        }
    }
    @media (max-width:768px){
        .body-3-main{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
@media (max-width:768px){
    .body-3{
        height: 1500px ;
    }
}
.footer{
    width: 98vw;
    /* height: 410px; */
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .footer{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
}
.footer-1{
    width: 30%;
    height: 100%;
    border: 1px solid black;
}
@media (max-width:768px){
    .footer-1{
        width: 100%;

    }
}
.footer-2{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-2{
        width: 100%;
    }
}
.footer-2-h3{
    color: white;
    margin-top: 30px;
   font-weight: 100;
   margin-bottom: 50px;
}
@media (max-width:768px){
    .footer-2-h3{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}
.footer-2-h6{
    color: rgba(255, 255, 255, 0.702);
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    margin-bottom: 10px;
}
@media (max-width:768px){
    .footer-2-h6{
        margin-left: 20px;
    }
}
.footer-2-h6:hover{
    color: #ef5743;
}
.a1{
    color: rgba(255, 255, 255, 0.702);
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    margin-bottom: 10px;
}
.a1:hover{
    color: #ef5743;
}      
.footer-3{
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-3{
        width: 100%;
    }
}
.footer-4{
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-4{
        width: 100%;
    }
}
.footer-5{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-5{
        width: 100%;
    }
}
.footer-1-p{
    color: rgba(255, 255, 255, 0.702);
    font-size: 16px;
    word-spacing: 1px;
    line-height: 23px;
    margin-left: 30px;
}
hr{
    width: 92%;
    margin-left: 72px;
    background-color: #ef5743;
    /* border: 1px solid red; */
} 
@media (max-width:768px){
    hr{
        width: 100%;
        margin-left: 0;
    }
}
.designer-name{
    width: 98vw;
    height: 50px;
    /* border: 1px solid red; */
}
.designer-name-h5{
    color: white;
    text-align: right;
    margin-right: 35px;
    margin-top: 15px;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .designer-name-h5{
        margin-right: 20px;
    }
}
.whatsapp{
    width: 50px;
    height: 50px;
    background-image: url(whatsapp.jpeg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(128,128,128,0.75);
    position: absolute;
    top: 92%;
    left: 10px;
    position: fixed;
}
@media (max-width:768px){
    .whatsapp{
       position: absolute;
       top: 92%;
       left: 10px;
       position: fixed;
    }
}