*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-body{
    width: 98.8vw;
    background-color: black;
}
@media (max-width:768px){
    .main-body{
        width: 100vw;
    }
}
.navbar{
    background-color: black;
    height: 100px;
    /* border: 1px solid red; */

    .img1{
        width: 250px;
        height: 100px;
        /* border: 1px solid red; */
    }
    .a2{
        color: white;
        margin-right: 10px;
        margin-left: 10px;  
    }
    .a2:hover{
        color: #ef5743;
    }
    i{
        color: white;
    }
    .a3{
        color: #ef5743;
    }
    .container-fluid{
        background-color: #000000c9;
    }
}
.body-1{
    width: 98vw;
    height: 200px;
    background-color:  #000000;
    background-position:center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* border: 1px solid red; */

    .body-1-h1{
        color: white;
        font-size: 55px;
        font-weight: 900;
        /* border: 1px solid red; */
    }
    @media (max-width:768px){
        .body-1-h1{
            font-size: 45px;
        }
    }
    .body-1-span{
        color: #ef5743;
    }
}
.body-5{
    width: 98vw;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 3px 0px ;

}
.body-5-main{
    width: 80%;
    /* height: 80%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:768px){
    .body-5-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.body-5-main-1{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-1{
        width: 70%;
    }
}
.body-5-main-2{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-2{
        width: 70%;
    }
}
.body-5-main-3{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-3{
        width: 70%;
    }
}
.body-5-main-4{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design4.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-4{
        width: 70%;
    }
}
.body-5-main-5{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-5{
        width: 70%;
    }
}
.body-5-main-6{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design6.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-6{
        width: 70%;
    }
}
.body-5-main-7{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design7.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-7{
        width: 70%;
    }
}
.body-5-main-8{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design8.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-8{
        width: 70%;
    }
}
.body-5-main-9{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design9.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-9{
        width: 70%;
    }
}
.body-5-main-10{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design10.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-10{
        width: 70%;
    }
}
.body-5-main-11{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design11.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-11{
        width: 70%;
    }
}
.body-5-main-12{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design12.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-12{
        width: 70%;
    }
}
.body-5-main-13{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design13.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-13{
        width: 70%;
    }
}
.body-5-main-14{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design14.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-14{
        width: 70%;
    }
}
.body-5-main-15{
    width: 30%;
    height: 570px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-image: url(design15.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 3px 0px rgba(100,93,93,0.65);
    margin-bottom: 40px;
}
@media (max-width:768px){
    .body-5-main-15{
        width: 70%;
        margin-bottom: 80px;
    }
}
.body-6{
    width: 98vw;
     height: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    .body-6-main{
       width: 90%;
       height: 150px;
       /* border: 1px solid red; */
       display: flex;
       background-color: rgba(48, 47, 47, 0.283);
       box-shadow: 0px -5px 6px 0px rgba(100,93,93,0.65);
       border-radius: 20px;
      

       .body-6-main-l{
        width: 70%;
        height: 100%;
        /* border: 1px solid red; */

        .body-6-main-l-h1{
           color: white;
           text-align: center;
           margin-top: 30px;
        }
        @media (max-width:768px){
            .body-6-main-l-h1{
                font-size: 20px;
            }
        }
        .body-6-main-l-p{
            color: rgba(255, 255, 255, 0.505);
            margin-left: 178px;
            margin-top: 10px;
         }
         @media (max-width:768px){
            .body-6-main-l-p{
                margin-left: 0px;
                text-align: center;
            }
         }
       }
       @media (max-width:768px){
        .body-6-main-l{
            width: 100%;
        }
       }
       .body-6-main-r{
        width: 30%;
        height: 100%;
        /* border: 1px solid red; */
        
        .body-6-main-r-button{
            width: 190px;
            height: 30%;
            border-radius: 20px;
            margin-top: 40px;
            margin-left: 80px;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            /* border: 1px solid red; */
        }
        @media (max-width:768px){
            .body-6-main-r-button{
                margin-top: 0px;
                margin-left: 70px;
                width: 190px;
                height: 60px;
            }
        }
        .body-6-main-r-button:hover{
            color: #ef5743;
            border: 2px solid #ef5743;
        }
       }
       @media (max-width:768px){
        .body-6-main-r{
            width: 100%;
        }
       }
    }
    @media (max-width:768px){
        .body-6-main{
            display: flex;
            flex-direction: column;
            height: 200px;
        }
    }
}
@media (max-width:768px){
    .body-6{
        margin-bottom: 30px;
    }
}
.footer{
    width: 98vw;
    /* height: 410px; */
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .footer{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
}
.footer-1{
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-1{
        width: 100%;
    }
}
.footer-2{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-2{
        width: 100%;
    }
}
.footer-2-h3{
    color: white;
    margin-top: 30px;
   font-weight: 100;
   margin-bottom: 50px;
}
@media (max-width:768px){
    .footer-2-h3{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}
.footer-2-h6{
    color: rgba(255, 255, 255, 0.702);
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    margin-bottom: 10px;
}
@media (max-width:768px){
    .footer-2-h6{
        margin-left: 20px;
    }
}
.footer-2-h6:hover{
    color: #ef5743;
}
.a1{
    color: rgba(255, 255, 255, 0.702);
    font-size: 15px;
    word-spacing: 1px;
    line-height: 23px;
    margin-bottom: 10px;
}
.a1:hover{
    color: #ef5743;
}      
.footer-3{
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-3{
        width: 100%;
    }
}
.footer-4{
    width: 15%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-4{
        width: 100%;
    }
}
.footer-5{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .footer-5{
        width: 100%;
    }
}
.footer-1-p{
    color: rgba(255, 255, 255, 0.702);
    font-size: 16px;
    word-spacing: 1px;
    line-height: 23px;
    margin-left: 30px;
}
hr{
    width: 92%;
    margin-left: 72px;
    background-color: #ef5743;
    /* border: 1px solid red; */
} 
@media (max-width:768px){
    hr{
        width: 100%;
        margin-left: 0;
    }
}
.designer-name{
    width: 98vw;
    height: 50px;
    /* border: 1px solid red; */
}
.designer-name-h5{
    color: white;
    text-align: right;
    margin-right: 35px;
    margin-top: 15px;
    /* border: 1px solid red; */
}
@media (max-width:768px){
    .designer-name-h5{
        margin-right: 20px;
    }
}
.whatsapp{
    width: 50px;
    height: 50px;
    background-image: url(whatsapp.jpeg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(128,128,128,0.75);
    position: absolute;
    top: 92%;
    left: 10px;
    position: fixed;
}
@media (max-width:768px){
    .whatsapp{
       position: absolute;
       top: 92%;
       left: 10px;
       position: fixed;
    }
}